.footer {
    grid-area: footer;
    display: grid;
    place-items: center;
    height: 20rem;
    border-radius: 3.2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: var(--color-grey4);
    grid-column: 2 / 3;
}

.footer span {
    font-size: 3rem;
}

@media (max-width: 1024px) {
    .footer {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        border-radius: 0;
        height: 10rem;
    }
}
