.footer {
    grid-area: footer;
    display: grid;
    place-items: center;
    height: 20rem;
    border-radius: 3.2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: var(--color-grey4);
    border: 1px solid black;
    grid-column: 2 / 3;
}

.footer span {
    font-size: 3rem;
}
