.location-basket-switcher {
    grid-area: aside;
    align-self: start;
    position: sticky;
    top: 8rem; /* Аналогично навигации */
    height: calc(95vh - 8rem);
    border-radius: 3.2rem;
    background-color: var(--color-primary);
}