.location-basket-switcher {
    grid-area: aside;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    width: 100%;
    height: 100%;
    min-height: 0;

    margin-top: 1rem;
    padding: 0;
    box-sizing: border-box;

    border-radius: 3.2rem;
    background-color: var(--color-primary);

    overflow: hidden;
}

@media (max-width: 1024px) {
    .location-basket-switcher {
        grid-area: aside;
        height: auto;
        min-height: 11rem;
        margin: 0;
        border-radius: 0 0 3.2rem 3.2rem;
        overflow: visible;
    }
}