.main-content {
    grid-area: main;
    padding: 1.5rem;
    height: auto;
    margin-top: 1rem;
    min-height: calc(100vh - 8rem); /* Минимальная высота минус высота шапки */
    border-radius: 3.2rem;
    background-color: var(--color-primary);
    overflow-y: auto; /* Скролл только внутри основного контента */
}

.main-content__title {
    font-size: 3.8rem;
}

.main-content h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    grid-column: 1 / -1;
    width: 100%;
}

.main-content__title span {
    color: grey;
}

.main-content__category {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.main-content__category__gotovaya-eda,
.main-content__category__vegetables {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
    align-items: start;
}

/* Стили для scroll-bar */

.main-content::-webkit-scrollbar {
    width: 8px;                       /* Ширина скроллбара */
}

.main-content::-webkit-scrollbar-track {
    background: transparent;          /* Цвет трека */
    border-radius: 4px;
}

.main-content::-webkit-scrollbar-thumb {
    background: #d4d4d4;             /* Цвет ползунка */
    border-radius: 4px;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background: #939393;             /* Цвет при наведении */
}