.navbar {
    padding: 1.5rem;
    width: auto;
    height: 85vh;
    border-radius: 3.2rem;
    background-color: var(--color-primary);
}

.navbar__category {
    position: relative;
    margin-bottom: 1rem;
}

.navbar__button {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    background-color: transparent;
    padding: 1rem;
    border-radius: 3.2rem;
    font-weight: bold;
    color: var(--color-grey3);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar__button span {
    text-align: left;
    line-height: 1.8rem;
}

.navbar__button:hover {
    color: var(--color-total-black);
}

.navbar__icon {
    width: 3.4rem;
    height: 3.4rem;
    object-fit: cover;
    transition: all 0.3s ease;
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.navbar__list.open {
    max-height: 500px;
    padding: 0.5rem 0;
}

.navbar__list__item {
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
}

.navbar__list__link {
    display: block;
    text-decoration: none;
    color: var(--color-black);
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    font-size: 1.2rem;
}

.navbar__list__link:hover {
    color: var(--color-total-black);
}