.products-content {
    margin: 1rem 0 0 17%;
    padding: 1.5rem;
    width: 60%;
    height: 85vh;
    border-radius: 1rem;
    background-color: var(--color-primary);
    overflow-y: scroll;
    position: relative;
}

.products-content::-webkit-scrollbar {
    display: none;
}

.products-content__title {
    font-size: 2rem;
}