.products-content {
    grid-area: main;
    padding: 1.5rem;
    height: auto;
    margin-top: 1rem;
    min-height: calc(100vh - 8rem); /* Минимальная высота минус высота шапки */
    border-radius: 3.2rem;
    background-color: var(--color-primary);
    overflow-y: auto; /* Скролл только внутри основного контента */
}

.products-content__title {
    font-size: 3.5rem;
}

.products-content__linkToHome {
    color: var(--color-grey3);
    font-size: 2rem;
}

.products-content__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    align-items: start;
}