/* Base */
@import "./base/reset-styles.css";
@import "./base/variables.css";

/* Components */
@import 'components/Header.css';
@import 'components/Navbar.css';
@import "components/MainContent.css";
@import 'components/CategoryCard.css';
@import 'components/LocationBasketSwitcher.css';
@import "components/YandexMaps.css";
@import "components/YandexMapsPreview.css";
@import "components/Basket.css";
@import "components/ProductsContent.css";
@import "components/ProductCard.css";
@import 'components/Footer.css';

/* Pages */
@import "pages/Auth.css";
@import "pages/NotFoundPage.css";

/* global styles */

#root {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
    grid-template-columns: 22rem 1fr 30rem;
    grid-template-rows: auto 1fr auto;
    column-gap: 1rem;
    row-gap: 0; /* Убираем отступ между рядами, так как шапка будет sticky */
    margin: 0 2rem;
    min-height: 100vh;
}

@media (max-width: 1024px) {
    #root {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        margin: 0;
    }
}